body {
  height: 100%;
  margin: -0.1;
}
#container{
  /* width: 100%;
  height: 100%; */
  display: block;
  
}

/* 
#c {
  width: 100%;
  height: 100%;
  display: block;

  -webkit-transition: opacity 2s ease-in-out forwards;
  -moz-transition: opacity 2s ease-in-out forwards;
  -ms-transition: opacity 2s ease-in-out forwards;
  -o-transition: opacity 2s ease-in-out forwards;
  transition: opacity 2s ease-in-out forwards;
  animation: opacity 2s ease-in-out forwards;
  opacity: 0;
}
@keyframes opacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
} */

/* button {
  font-family: Monospace;
	cursor: pointer;
	text-transform: uppercase;
  pointer-events: auto;
} */

#blackScreen {
	position: absolute;
	
	z-index: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: rgb(0, 0, 0);
  opacity: 0;
  animation: opacityAnim2 1.5s ease-in-out forwards;
}
/* #test{
  position: absolute;
	transform: scale(0.5);
	z-index: 0;
	top: 0;
	left: 0;

  padding-left: 25%;
	display: block;
	align-items: center;
	justify-content: center;
	flex-direction: column;

  opacity: 1;
  animation: opacityAnim2 1.5s ease-in-out forwards;
} */
#overlay {
	position: absolute;
	
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: rgb(255, 241, 215)
}
	/* #overlay button {
    font-size: 36px;
		background: transparent;
		border: 0;
		border: 1px solid rgb(255, 255, 255);
		border-radius: 12px;
		color: #ffffff;
		padding: 36px 54px;
		text-transform: uppercase;
		cursor: pointer;
	} */

  #video_id{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(102, 95, 95, 0.3);
    display: none;
    text-align: center;
    opacity: 0;
    animation: opacityAnim 1.5s ease-in-out forwards;
  }
  @keyframes opacityAnim {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  @keyframes opacityAnim2 {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 0.8;
    }
  }
  @keyframes opacityAnimReverse {
    0% {
      opacity: 0.8;
    }
  
    100% {
      opacity: 0;
    }
  }

  #video2{
      transform: scale(0.5);
      position: absolute;
      display: none;
  
      top: 0;
      left: 0;

      display: none;
      align-items: center;
      justify-content: center;
      flex-direction: column;
     
     
  }
  #closeButton{
    height: 100px;
    width: 100px;
    transform: scale(1);
    display:block;

    margin-top: 10%;
    margin-left: 73%;
    border-radius: 50%;
    border: none;
    /* 
    align-items: center;
    justify-content: center;
    flex-direction: colum
    n; */
  }

     
@media only screen and (max-width: 599px) {
  #video_id{
    position: absolute;
    width: 100%;
    height: 100%;
      background-color: rgba(102, 95, 95, 0.3);
      display: none;
      text-align: center;
    
  }
  #video2{
    transform: scale(0.8);
    position: absolute;
    display: none;

    top: 35%;
    left: 0;
    width: 100%;
    height: 20%;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
   
}
  #closeButton{
    height: 50px;
    width: 50px;
    transform: scale(0.85);
    display:block;
    position: absolute;
    top: 27.5%;
 
    margin-left: 82%;
    border-radius: 50%;
    border: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
  }
  #overlay {
    position: absolute;
    
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgb(255, 241, 215)
  }
  #start-btn{
    transform: scale(0.5);

  }
  .bn3637 {
    filter: drop-shadow(2px 4px 8px #58585888);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 5rem;
    font-family: "Pangram-Regular";
    letter-spacing: 5px;
    font-weight: 700;
    font-size: 0px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    backface-visibility: hidden;
    border: 0.3rem solid transparent;
    border-radius: 3rem;
    height: 30px;
}
  
.bn37 {
    border-color: transparent;
    background-color: rgb(255, 255, 255);
    color: #000;
    transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
}
    
.bn37:hover {
    transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
}
} 

.bn3637 {
    filter: drop-shadow(2px 4px 8px #58585888);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 5rem;
    font-family: "Pangram-Regular";
    letter-spacing: 5px;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    backface-visibility: hidden;
    border: 0.3rem solid transparent;
    border-radius: 3rem;
    height: 30px;
}
  
.bn37 {
    border-color: transparent;
    background-color: rgb(255, 255, 255);
    color: #000;
    transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
}
    
.bn37:hover {
    transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
}