body {
  height: 100%;
  margin: 0;
}


#c {
  width: 100%;
  height: 100%;
  display: block;
  -webkit-transition: opacity 2s ease-in-out forwards;
  -moz-transition: opacity 2s ease-in-out forwards;
  -ms-transition: opacity 2s ease-in-out ;
  -o-transition: opacity 2s ease-in-out;
  transition: opacity 2s ease-in-out forwards;
  animation: opacity 2s ease-in-out forwards;
  opacity: 0;
}
@keyframes opacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

button {
  font-family: Monospace;
	cursor: pointer;
	text-transform: uppercase;
  pointer-events: auto;
}

#overlay {
	position: absolute;
	
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: rgba(0,0,0,1);
}
	#overlay button {
    font-size: 36px;
		background: transparent;
		border: 0;
		border: 1px solid rgb(255, 255, 255);
		border-radius: 12px;
		color: #ffffff;
		padding: 36px 54px;
		text-transform: uppercase;
		cursor: pointer;
	}
  #change {
    display: none;
    position: absolute;
    
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    align-items: center;
    justify-content: center;
    flex-direction: column;
    
  }
    #change button {
      font-size: 36px;
      background: transparent;
      border: 0;
      border: 1px solid rgb(255, 0, 0);
      border-radius: 12px;
      color: #ff0000;
      padding: 36px 54px;
      text-transform: uppercase;
      cursor: pointer;
    }
  
